<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Favorite television shows</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <h1>My Favorite television shows</h1>
        <nav>
            <ul>
                <li><a href="#sherlock">Sherlock</a></li>
                <li><a href="#mrrobot">Mr. Robot</a></li>
                <li><a href="#drwho">Dr. Who</a></li>
                <li><a href="#fringe">Fringe</a></li>
                <li><a href="#poi">Person of Interest</a></li>
                <li><a href="#theflash">The Flash</a></li>
                <li><a href="#arrow">Arrow</a></li>
                <li><a href="#sense8">Sense8</a></li>
                <li><a href="#strangerthings">Stranger Things</a></li>
                <li><a href="#westworld">Westworld</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
           <div  class="flex-container">
                <article id="sherlock">Sherlock</article>
                <article id="mrrobot">Mr. Robot</article>
                <article id="drwho">Dr. Who</article>
                <article id="fringe">Fringe</article>
                <article id="poi">Person of Interest</article>
                <article id="theflash">The Flash</article>
                <article id="arrow">Arrow</article>
                <article id="sense8">Sense8</article>
                <article id="strangerthings">Stranger Things</article>
                <article id="westworld">Westworld</article>
           </div>
    </main>
</body>

</html>