<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Favorite television shows</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>

    <header>
        <h1>My Favorite television shows</h1>
        <nav>
            <ul>
                <li><a href="#sherlock">Sherlock</a></li>
                <li><a href="#mr-robot">Mr. Robot</a></li>
                <li><a href="#dr-who">Dr. Who</a></li>
                <li><a href="#fringe">Fringe</a></li>
                <li><a href="#poi">Person of Interest</a></li>
                <li><a href="#the-flash">The Flash</a></li>
                <li><a href="#arrow">Arrow</a></li>
                <li><a href="#sense8">Sense8</a></li>
                <li><a href="#strangerthings">Stranger Things</a></li>
                <li><a href="#westworld">Westworld</a></li>
            </ul>
        </nav>
    </header>

    <main class="flex-container">

        <article id="sherlock">
            <div class="content">

                <h2>Sherlock</h2>

                <div>
                    <img src="public/images/sherlock.jpg" alt="Sherlock">
                    <div class="showtime">
                        <em>Sundays, 9:00 PM ET on PBS</em>
                    </div>
                    <div class="summary">
                        <p>
                            Sherlock Holmes and Dr Watson's adventures in 21st Century London. A thrilling, funny, fast-paced contemporary remake of
                            the Arthur Conan Doyle classic. Each season consists of 3 90 minute episodes.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="mr-robot">
            <div class="content">
                <h2>Mr. Robot</h2>
                <div>
                    <img src="public/images/mr-robot.jpg" alt="Mr. Robot">
                    <div class="showtime">
                        <em>Wednesdays, 10:00 PM ET on USA</em>
                    </div>
                    <div class="summary">
                        <p>
                            Mr. Robot centers on a young programmer, Elliot (Rami Malek), who suffers from a debilitating anti-social disorder and decides
                            that he can only connect to people by hacking them. He finds himself in the intersection between
                            a cybersecurity firm he works for and the underworld organizations that are recruiting him to
                            bring down corporate America. Slater plays Mr. Robot, a mysterious anarchist who recruits Elliot.
                            Anonymous Content’s Steve Golin (“True Detective”) and Chad Hamilton (“Breakup at a Wedding”)
                            also executive produce.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="dr-who">
            <div class="content">
                <h2>Dr. Who</h2>
                <div>
                    <img src="public/images/dr-who.jpg" alt="Dr. Who">
                    <div class="showtime">
                        <em>Saturdays, 9:00 PM ET on BBC America</em>
                    </div>
                    <div class="summary">
                        <p>
                            “Doctor Who” is the continuing saga of a mysterious time traveler who picks up human companions and faces evil foes with
                            little more than his wits and a sonic screwdriver while he journeys throughout time and space
                            in the TARDIS—a unique craft disguised as a police call box.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="fringe">
            <div class="content">
                <h2>Fringe</h2>
                <div>
                    <img src="public/images/fringe.jpg" alt="Fringe">
                    <div class="showtime">
                        <em>Concluded</em>
                    </div>
                    <div class="summary">
                        <p>
                            Fringe follows the exploits of FBI Special Agent Olivia Dunham, scientist Walter Bishop, and his son Peter as they investigate
                            aspects of fringe science (telepathy, levitation, invisibility, reanimation, genetic mutation,
                            etc).
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="poi">
            <div class="content">
                <h2>Person of Interest</h2>
                <div>
                    <img src="public/images/person-of-interest.jpg" alt="Person of Interest">
                    <div class="showtime">
                        <em>Sundays, 9:00 PM ET on PBS</em>
                    </div>
                    <div class="summary">
                        <p>
                            An ex-CIA agent connects up with a mysterious man with a state of the art machine that predicts who will be involved in a
                            violent crime. Together they will try to prevent the crimes from happening.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="the-flash">
            <div class="content">
                <h2>The Flash</h2>
                <div>
                    <img src="public/images/the-flash.jpg" alt="The Flash">
                    <div class="showtime">
                        <em>Tuesdays, 8:00 PM ET on The CW</em>
                    </div>
                    <div class="summary">
                        <p>
                            Based upon characters published by DC Comics, through a freak accident, scientist Barry Allen (Grant Gustin) is given the
                            power of super speed that transforms him into the Fastest Man Alive.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="arrow">
            <div class="content">
                <h2>Arrow</h2>
                <div>
                    <img src="public/images/arrow.jpg" alt="Arrow">
                    <div class="showtime">
                        <em>Thursdays, 9:00 PM ET on The CW</em>
                    </div>
                    <div class="summary">
                        <p>
                            DC Comics hero the Green Arrow comes to television in this drama starring Stephen Amell as Oliver Queen, billionaire playboy-turned
                            arrow-wielding vigilante. After a shipwreck in which he's presumed dead, he returns home and
                            ventures on a quest to right the wrongs of his past, and save the city of Starling from a rising
                            tide of crime.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="sense8">
            <div class="content">
                <h2>Sense8</h2>
                <div>
                    <img src="public/images/sense8s2.jpg" alt="Sense8">
                    <div class="showtime">
                        <em>Fridays, 3:00 AM ET on Netflix</em>
                    </div>
                    <div class="summary">
                        <p>
                            Sense8 is centered around eight characters that live in different cities around the world who experience a violent vision,
                            and soon find themselves mentally connected by this experience. They are suddenly able to see
                            and talk to each other as though they were in the same place, and have access to each other's
                            deepest secrets. Not only must these eight adapt to this new ability and to each other, they
                            must figure out what happened and why and what it means for the future of humanity, while being
                            hunted by an organization out to capture, kill or vivisect them.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="strangerthings">
            <div class="content">
                <h2>Stranger Things</h2>
                <div>
                    <img src="public/images/stranger-things.jpg" alt="Stranger Things">
                    <div class="showtime">
                        <em>Fridays, 3:00 AM ET on Netflix</em>
                    </div>
                    <div class="summary">
                        <p>
                            In the series, a young boy vanishes into thin air. As friends, family, and local police search for answers, they are drawn
                            into an extraordinary mystery involving top secret experiments, terrifying supernatural forces,
                            and one very strange little girl. The series, set in Indiana, is a love letter to the ‘80s classics
                            that captivated a generation.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article id="westworld">
            <div class="content">
                <h2>Westworld</h2>
                <div>
                    <img src="public/images/westworld.jpg" alt="Westworld">
                    <div class="showtime">
                        <em>Sundays, 9:00 PM ET on HBO</em>
                    </div>
                    <div class="summary">
                        <p>
                            Anthony Hopkins will star as Dr. Robert Ford, the head of a futuristic theme park where robots go crazy and attack the guests.
                            James Marsden, Ed Harris, Evan Rachel Wood, Thandie Newton, Jeffrey Wright and Miranda Otto will
                            co-star.
                        </p>
                    </div>
                </div>
            </div>
        </article>

    </main>

</body>

</html>